*{
    margin: 0;
    padding: 0;
}

.square{
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

.gameboard{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
}

.controls{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#header{
    height: 6rem;
    background-color: wheat;
    justify-content: center;
    align-content: center;
}

#start-button{
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    border: 1px solid black;
}

#restart-button{
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    border: 1px solid black;
}

#page-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}